*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,20,0.7),rgba(0,0,0,0.7)),url(stetho.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding-left: 1%;
    padding-right: 6%;
    padding-top: 0%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 250px;
    padding-top: 1%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 21px 80px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: "TharLon-Regular", Helvetica;
    font-weight: 400;

}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #fff;
    display:block;
    margin:auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.hooker{
    width:90%;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: "TharLon-Regular", Helvetica;
    font-size: 60px;
}
.hooker p{
    font-size: 30px;
}
.stocktop{
    position: relative;
    width: 100%; 
    
}


@media(max-width: 700px){
    .hooker{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
        
    }
    nav img{
    width: 150px;
    padding-top: 1%;
    }
    .nav-links ul li a{
    font-size: 14px;
    }
    .nav-links ul li:hover::after{
        display: none;
    }
    .nav-links{
        position: absolute;
        /*background: #212936;
        height: 100vh;
        width: 180px;*/
        top: 0;
        right: 0;
        text-align: center;
        /*z-index: 2;*/
        
    }
    .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 25px 16px;
    position: relative;
    }
}

/*----- offer ------*/
.course{
    width: 80%;
    margin: auto;
    padding-top: 80px;

}
.course h1{
    color: black;
    text-decoration: none;
    font-size: 50px;
    font-family: "TharLon-Regular", Helvetica;
    font-weight: 600;
    text-align: center;
    background-color: #cfeaef;
    margin: auto;
    padding-top: 10px;
    width: 40%;
    border-radius: 20px 20px 0 0;
    
}
.row{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: "TharLon-Regular", Helvetica;
    font-weight: 300;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}
/*
.row{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: "TharLon-Regular", Helvetica;
    font-weight: 300;
    text-align: center
}
*/
.course .row{
    background-color: #cfeaef;
    margin: auto;
    padding-top: 60px;
    
}
.offer-info{
    flex-basis: 31%;
    background: #cee4dc;
    border-radius:15px;
    padding 35px 15px;
    box-sizing: border-box;
    border: solid 1px;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
}
p{
    font-size: 17px;
    margin: 50px 20px;
}
.book{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 15px;
    background: black;
    position: relative;
    cursor: pointer;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    font-family: "TharLon-Regular", Helvetica;
    margin: auto;
}

.book:hover{
    border: 1px solid gray;
    background: gray;
    transition 1s;
    
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
        border-radius: 0 0 15px 15px;
    }
    .course h1{
        font-size: 34px;
        width: auto;
    }
    .offer-info{
        font-size: 18px;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    
}

/*---- who we are -----*/
.who-we-are{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-family: "TharLon-Regular", Helvetica;
    font-weight: 500;
    padding-bottom: 50px;
}
.who-we-are .who{
    padding-top: 10px;
    margin: auto;
    margin-top: 40px;
    width: 40%;
    background-color: #cfeaef;
    border-radius: 25px 25px 0 0;
}
.who-we-are .hailing{
    font-size: 18px;
/*    margin: 15px;*/
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
/*    margin-top: 40px;*/
    padding: 15px 100px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 25px;
    background-color: #cfeaef;
}
.who-we-are .box{
    text-align: center;
    position: relative;
    width: 80%;
    height: 400px;
/*    background-color: #ced4db;*/
    margin: auto;
    border-radius: 20px;
}

@media(max-width:700px){
    .who-we-are{
        font-size: 24px;
    }
    .who-we-are .hailing{
        font-size: 14px;
        padding: 15px 5px;
        padding-top: 20px;
        margin: auto;
        margin-bottom: 25px;
    
    }
    .who-we-are .box{
        height: auto;
    }
    .who-we-are .who{
        font-size: 30px;
        width: 80%;
    }
}

/*---- tutors ----*/
.tutes{
    width: 85%;
    margin: auto;
    padding-bottom: 50px;
}
.tutes h2{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 45px;
    font-family: "TharLon-Regular", Helvetica;
    font-weight: 600;
}
.quotes{
    flex-basis: 48%;
    padding: 1px 2px;
    width: 10%;
    text-align: left;
}
.quotes img{
    width: 50%;
    padding-left: 20%;
}

.quotes h1{
    font-family: "TharLon-Regular", Helvetica;
    font-weight: 500;
    text-align: left;
    padding: 15px;
    padding-top: 5%;
}
.quotes bot{
    font-family: "TharLon-Regular", Helvetica;
    font-weight: 200;
    text-align: left;
    padding: 15px;
    font-size: 24px;
    display: inline-block;

}
.quotes p{
    font-family: "TharLon-Regular", Helvetica;
    font-weight: 100;
    text-align: left;
    margin-left: 0;
    margin: auto;
    padding: 15px;
    padding-top: 20px;
}

/*
.quotes p, .quotes bot, .quotes h1{
    background-color: #cfeaef;
}
*/

@media(max-width: 700px){
    .tutes h2{
        font-size: 30px;
    }

    .quotes p{
        font-family: "TharLon-Regular", Helvetica;
        font-weight: 100;
        text-align: center;
        margin: auto;
        font-size: 14px;
        margin-top: 10%;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .quotes h1{
        font-size: 24px;
        text-align: center;
        margin: auto;
        position: relative;
        padding-bottom: 0;
    }
    .quotes bot{
        font-size: 14px;
        padding-bottom: 0;
        text-align: center;
        
    }
    .quotes{
        width: 90%;
        text-align: center;
        margin: auto;
    }
    .quotes img{
        width: 90%;
        padding: 0;
    }

}

/*---- graphs ----*/
.graph{
    width: 80;
    margin: 50px;
    justify-content: space-between;
}
.graph h1{
    font-size:25px;
}
.graph img{
    width:70%;
    border: 3px solid gray;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}
.graph super{
    font-size: 14px;
}
.graph p{
    text-align: left;
    margin-top: 10px;
    margin-left: 20%;
}
.graph .stats{
    flex-basis: 60%;
    padding-top: 5%
}

.graph .sampleimg{
    width: 80%;
    margin: auto;
    border: solid gray 3px;
}

/*---- Contact ----*/
.contact{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px 0;
    font-size: 15px;
    font-family: "TharLon-Regular", Helvetica;
    font-weight: 500;
    margin-top: 5%;
}
.contact h1{
    margin: auto;
    width: 40%;
    padding: 10px;
    background-color: #cfeaef;
    border-radius: 15px 15px 0 0;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col form{
    padding-top: 10px;
}
.contact-col div{
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}
.contact-col input, .contact-col textarea{
    width: 75%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    font-size: 15px;
    font-family: "TharLon-Regular", Helvetica;
    font-weight: 500;
    border: 1px solid gray;
    box-sizing: border-box;
    margin-left: 50px;
    resize: none;
}
.contact-col h5, .contact-col p{
    width: 70%;
    text-align: left;
    margin: 1%;
    margin-left: 10%;
}
.contact-col h5{
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.book2{
    display: block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: black;
    cursor: pointer;
    position: relative;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    font-family: "TharLon-Regular", Helvetica;
    margin: 15px;
}

.book2:hover{
    border: 1px solid gray;
    background: gray;
    transition 1s;
    
}
@media(max-width: 700px){
    .contact-col input, .contact-col textarea{
        margin: auto;
        margin-bottom: 10px;
        width: 90%;
    }
}

/*---- footer ----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 15px;
    font-family: "TharLon-Regular", Helvetica;
    font-weight: 500;
    
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 14px 
}
.footer p{
    font-size: 12px;
}
.footerimg{
    width: 15%;
}


#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; 
    right: 30px; 
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: gray; 
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 30px; /* Rounded corners */
    width: 60px;
    height: 60px;
    }
.up{
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
@media(max-width: 700px){
    #myBtn{
        display: none;
        width: 30px;
        height: 30px;
        bottom: 10px; 
        right: 15px; 
    }
    .up{
        display: none;
        width: 100%;
    }
}